.wrapper {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1024px) {
    justify-content: start;
    row-gap: 20px;
    flex-direction: column;
  }

  @media (max-width: 768px) {
    max-width: 280px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(6, 155, 204);
    color: #eee;
    border: 2px solid rgb(16, 167, 218);
  }
}
.character {
  &__wrapper {
    background-color: #ffd296;
    padding: 15px;
    border-radius: 20px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    img {
      border-radius: 50%;
      width: 270px;
      height: 270px;
    }
    @media (max-width: 768px) {
      column-gap: 0;
      img {
        width: 80px;
        height: 80px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px 0 0 0;
    @media (max-width: 768px) {
      padding-top: 0;
    }
  }

  &__name {
    font-size: 28px;
    @media (max-width: 768px) {
      font-size: 22px;
    }
  }

  &__text {
    font-size: 20px;
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
}
